output_files/PolySynth.done
output_files/PolySynth.map.summary
output_files/PolySynth.map.rpt
output_files/PolySynth.flow.rpt
greybox_tmp/cbx_args.txt
db/prev_cmp_PolySynth.qmsg
db/logic_util_heursitic.dat
db/PolySynth.tis_db_list.ddb
db/PolySynth.map.rdb
db/PolySynth.map.qmsg
db/PolySynth.ipinfo
db/PolySynth.db_info
db/PolySynth.smart_action.txt
db/PolySynth.sld_design_entry.sci
db/PolySynth.pti_db_list.ddb
db/PolySynth.map_bb.hdb
db/PolySynth.cmp.rdb
db/PolySynth.cbx.xml
